@import "./variables.scss";
// RESET RULES
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease; /* Add a smooth color transition on hover */

}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

body{
  background-color: $dark-bg;
  color: $dark-text;
}

// DISPOSIZIONE FORM
.scb-form-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
    }
}
//TESTO DESCRIZIONE CHECKBOX
.scb-description-checkbox{
  font-size: 9px;
}
//ALLINEAMENTO DELLA CHECBOX
.scb-checkbox-allineament{
  display: flex;
  align-items:flex-center;
  input{
    transform: translateY(-7px);
  }
}
//DISPOSIZIONE DELLE CHECKBOX
.scb-checkbox-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
    }
}

//INFO UPLOAD
.scb-info-upload {
  position: relative;

  .scb-info-icon {
    position: absolute;
    top: 20px;
    right: 5%;
    margin-right: 5%;

    @media screen and (min-width: 770px) {
      right: 7%;
      margin-right: 3%;
    }

    @media screen and (max-width: 990px) {
      right: 7%;
      margin-right: 3%;
    }

    @media screen and (min-width: 1024px) {
      right: 5%;
      margin-right: 3%;
    }
img{
  width: 2rem;
}
  }
}

// DROP ZONE
.scb-drop{
  background-color: $uploader-box-bg;
  margin-bottom: 1.5rem;
  color: black;
  padding: 1rem;
  border: $dashed-border;
  display:flex ;
  flex-direction: column;
  position: relative;
  background-position: center;
  background-size: 8%;
  cursor:pointer;
  .scb-drag-info, p{
    color:$uploader-info-text;
    .scb-info{
      
    };
  }
  .scb-upload{
    max-width: 100px;
    margin: 0 auto;
    margin-bottom: 1.5rem;
    z-index: 100;
  }
 
  p{
    text-align: center;
  }
}
// BORDO BOX UPLOAD
.scb-dashed{
  border: $dashed-border;
  padding: 1rem;
}
.scb-form-button{
  display: flex;
  justify-content: flex-end;
  gap : 1rem;
}
//ACCORDION BODY
.scb-accordion-body{
  padding: 1rem;
  line-height: 2.5rem;
}
