@import "./variables.scss";
// RESET RULES
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease; /* Add a smooth color transition on hover */

}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

body{
  background-color: $dark-bg;
  color: $dark-text;
}

// DISPOSIZIONE FORM
.scb-form-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
    }
}
//TESTO DESCRIZIONE CHECKBOX
.scb-description-checkbox{
  font-size: 9px;
}
//ALLINEAMENTO DELLA CHECBOX
.scb-checkbox-allineament{
  display: flex;
  align-items:flex-center;
  input{
    transform: translateY(-7px);
  }
}
//DISPOSIZIONE DELLE CHECKBOX
.scb-checkbox-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
    }
}