@import "./variables.scss";
// RESET RULES
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease; /* Add a smooth color transition on hover */

}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

body{
  background-color: $dark-bg;
  color: $dark-text;
}

// DISPOSIZIONE FORM
.scb-form-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
    }
}
//TESTO DESCRIZIONE CHECKBOX
.scb-description-checkbox{
  font-size: 9px;
}
//ALLINEAMENTO DELLA CHECBOX
.scb-checkbox-allineament{
  display: flex;
  align-items:flex-center;
  input{
    transform: translateY(-7px);
  }
}
//DISPOSIZIONE DELLE CHECKBOX
.scb-checkbox-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
    }
}

// BOX UPLOAD
.scb-upload-box {
  border: $upload-border;
  background-color:$uploader-box-bg ;
  box-shadow: $uploader-box-shadow;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 10px;
  position: relative;
  img{
    width: 4rem;
    margin: 0 auto;
  }
}
// FILM SELECT
.scb-film-select{
  display: flex;
  flex-direction: column;
  button{
    width:max-content;
  }
  label{
    font-weight: bold;
    font-style: italic;
  }
  input{
    align-self: center;
    width: fit-content;
  }
}
// FILE LIST
.scb-file-list{
  p{
   font-style: italic;
  }
  button{
    margin: 0.5rem 1.3rem; 
    font-size: 1.5rem;
    width: 3rem;
    height: 3rem;
    background-color:#c80c0c70; 
    border-radius: 50%;
    // margin-right: 1.3rem;
    transition: all 0.5s ease;
    &:hover{
      transform: scale(1.5);

    }
  }
  ul{
    text-align: center;
  }
  .scb-multiple-files{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    @media screen and (max-width: 768px) {
      grid-template-columns: repeat(1, 1fr);
      }
  }
}
// BORDO BOX UPLOAD
.scb-dashed{
  border: $dashed-border;
  padding: 1rem;
}
.scb-form-button{
  display: flex;
  justify-content: flex-end;
  gap : 1rem;
 
}