$dark-bg:#272424;
$dark-text:#f1eaea;


$upload-border:0.1rem dashed #837f7f;
$uploader-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
$uploader-box-bg:#fffcfc97;
$dashed-border:0.1rem dashed #d8ff2cc9;
$uploader-info-text: rgb(212, 6, 6)