//**************************************************
//? *** ***IMPORT RESET & NORMALIZE RULES*** *** ***
@import './reset&normalize.scss';
//? *** ***IMPORT VARIABILI PERSONALIZZATE*** ***
@import './variables.scss';
/* *************************************************
? ************** STILE DEL COMPONENTE***************
todo:  DARK MODE
************************************************* */
.dark-mode {
   background-color: $dark-bg;
   color: $dark-color;
}
.light-mode {
   background-color: $light-bg;
   color: $light-color;
}
.rfc-dark-mode {
   img {
      height: 25px;
   }
   button {
      background-color: transparent;
      border: none;
   }
}
/* *************************************************
? ************** STILE DEL COMPONENTE***************
todo:  FORM
************************************************* */
.form-error {
   color: red;
   font-weight: bold;
   font-size: 0.8rem;
   display: block;
}
.input-error {
   border: 2px solid red;
}
.file-list {
   display: inline-block;
   background-color: rgb(218, 211, 211);
   padding: 10px;
   margin: 5px;
}
