/* *************************************************
? ************ VARIABILI PERSONALIZZATE*************
todo:  nomeVariabile: valore;
************************************************* */
/* *************************************************
? ************** STILE DEL COMPONENTE***************
todo:  DARK MODE
************************************************* */
$dark-bg: #202020;
$light-bg: #f5f5f5;
$dark-color: #f5f5f5;
$light-color: #202020;
