@import './reset&normalize.scss';
@import './variables.scss';

/* *************************************************
? ***************STILE DEL COMPONENTE***************
todo:  DARK MODE
************************************************* */
.dark-mode {
	background: rgb(2, 0, 36);
	background: radial-gradient(
		circle,
		rgba(2, 0, 36, 1) 0%,
		rgba(9, 9, 121, 1) 35%,
		rgba(0, 212, 255, 1) 100%
	);
	color: $dark-color;

	.header,
	.footer {
		background-color: linear-gradient(
			circle,
			rgba(2, 0, 36, 1) 0%,
			rgba(9, 9, 121, 1) 35%,
			rgba(0, 212, 255, 1) 100%
		);
		color: $dark-color;
	}

	.sidebar {
		background: rgb(26, 20, 139);
		background: linear-gradient(
			circle,
			rgba(2, 0, 36, 1) 0%,
			rgba(9, 9, 121, 1) 35%,
			rgba(0, 212, 255, 1) 100%
		);
		color: $dark-color;
	}

	.content {
		background: rgb(7, 2, 107);
		background: linear-gradient(
			circle,
			rgba(2, 0, 36, 1) 0%,
			rgba(9, 9, 121, 1) 35%,
			rgba(0, 212, 255, 1) 100%
		);
		color: $dark-color;
	}
}

.light-mode {
	background-color: $light-bg;
	color: $light-color;

	.header,
	.footer {
		background-color: lighten($light-bg, 10%);
		color: $light-color;
	}

	.sidebar {
		background-color: lighten($light-bg, 20%);
		color: $light-color;
	}

	.content {
		background-color: $light-bg;
		color: $light-color;
	}
}

.rfc-dark-mode {
	img {
		height: 25px;
	}
	button {
		background-color: transparent;
		border: none;
	}
}

.rfc-home-Layout {
	background: rgb(2, 0, 36);
	background: radial-gradient(
		circle,
		rgba(2, 0, 36, 1) 0%,
		rgba(9, 9, 121, 1) 35%,
		rgba(0, 212, 255, 1) 100%
	);
}

/* *************************************************
? ***************STILE DELLA PAGINA HOME***************
todo:  Home.jsx
************************************************* */
.rfc-Home {
	overflow: hidden;
}

.bande h2 {
	color: white; /* Testo bianco */
	margin: 0; /* Rimuovere margini per evitare overflow */
	font-size: 2rem; /* Dimensione del testo di base */
}
.ombrello {
	width: 100px;
}

.icona-home {
	height: 50px;
}
.bande {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	max-height: 5vh; /* Altezza massima fissa a 5vh */
	flex-shrink: 0;
}

.centrale {
	position: relative;
	button {
		position: absolute;
	}
	.orari {
		top: 10%;
		left: 10%;
		transform: translateY(-10%);
	}
	.entra {
		bottom: 80%;
		right: 10%;
		transform: translateY(-80%);
	}
}

.img-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
}

.sfondo {
	height: 90%;
	width: 100%;
	object-fit: contain;
	object-position: center;
}

/* Altezza delle bande responsive e dimensione del testo */
@media (min-width: 1200px) {
	.bande h2 {
		font-size: 2.5rem;
	}
	.img-container {
		height: 90vh; /* Adatta altezza immagine tenendo conto dello spazio per le bande */
	}
	.centrale {
		.orari {
			top: 35%;
			transform: translateY(-35%);
			transform: translateX(90%);
		}
		.entra {
			bottom: 50%;
			transform: translateY(-50%);
			transform: translateX(-90%);
		}
	}
}

@media (max-width: 1199px) and (min-width: 768px) {
	.bande h2 {
		font-size: 2rem;
	}
	.img-container {
		height: 90.4vh; /* Adatta altezza immagine tenendo conto dello spazio per le bande */
	}
	.centrale {
		.orari {
			top: 35%;
			transform: translateY(-35%);
			transform: translateX(50%);
		}
		.entra {
			bottom: 50%;
			transform: translateY(-50%);
			transform: translateX(-50%);
		}
	}
}

@media (max-width: 767px) and (min-width: 480px) {
	.bande h2 {
		font-size: 1.5rem;
	}
	.img-container {
		height: 91.6vh; /* Adatta altezza immagine tenendo conto dello spazio per le bande */
	}
	.centrale {
		.orari {
			top: 20%;
			transform: translateY(-20%);
		}
		.entra {
			bottom: 60%;
			transform: translateY(-60%);
		}
	}
}

@media (max-width: 479px) {
	.bande h2 {
		font-size: 1.2rem;
	}
	.img-container {
		height: 92.2vh; /* Adatta altezza immagine tenendo conto dello spazio per le bande */
	}
	.centrale {
		.orari {
			top: 10%;
			transform: translateY(-10%);
		}
		.entra {
			bottom: 70%;
			transform: translateY(-70%);
		}
	}
}

/* Media queries per rendere il testo responsive */
@media (max-width: 1200px) {
	.bande h2 {
		font-size: 2rem;
	}
}

@media (max-width: 768px) {
	.bande h2 {
		font-size: 1.5rem;
	}
}

@media (max-width: 480px) {
	.bande h2 {
		font-size: 1.2rem;
	}
}

/* General Layout Styles */
.layout {
	display: flex;
	flex-direction: column;
	height: 100vh;
}
/* *************************************************
? ***************STILE DELLA PAGINA MainLayout***************
todo:  MainLayout.jsx
************************************************* */
.header,
.footer {
	padding: 1rem;
	text-align: center;
}

.main {
	display: flex;
	flex: 1;
	overflow: hidden;
}

.sidebar {
	padding: 1rem;
	width: 250px; /* Fixed width for the sidebar */
	overflow-y: auto;
}

.content {
	flex: 1;
	padding: 1rem;
	overflow-y: auto;
}

/* Responsive Styles */
@media (max-width: 768px) {
	.main {
		flex-direction: column;
	}

	.sidebar {
		width: 100%;
		height: auto;
		order: 2; /* Ensure sidebar appears below the content on small screens */
	}

	.content {
		order: 1; /* Ensure content appears above the sidebar on small screens */
	}
}

.logo {
	width: 50px;
}

/* *************** Styles for buttons in mobile version *************** */
@media (max-width: 768px) {
	.rfc-NavBar {
		li {
			margin-bottom: 10px;
			width: 100px;
		}
	}
}
