@import './reset&normalize.scss';
@import './variables.scss';

/* *************************************************
? ***************STILE DEL COMPONENTE***************
todo:  DARK MODE
************************************************* */
.dark-mode {
	background: rgb(2, 0, 36);
	background: radial-gradient(
		circle,
		rgba(2, 0, 36, 1) 0%,
		rgba(9, 9, 121, 1) 35%,
		rgba(0, 212, 255, 1) 100%
	);
	color: $dark-color;

	.header,
	.footer {
		background-color: linear-gradient(
			circle,
			rgba(2, 0, 36, 1) 0%,
			rgba(9, 9, 121, 1) 35%,
			rgba(0, 212, 255, 1) 100%
		);
		color: $dark-color;
	}

	.sidebar {
		background: rgb(26, 20, 139);
		background: linear-gradient(
			circle,
			rgba(2, 0, 36, 1) 0%,
			rgba(9, 9, 121, 1) 35%,
			rgba(0, 212, 255, 1) 100%
		);
		color: $dark-color;
	}

	.content {
		background: rgb(7, 2, 107);
		background: linear-gradient(
			circle,
			rgba(2, 0, 36, 1) 0%,
			rgba(9, 9, 121, 1) 35%,
			rgba(0, 212, 255, 1) 100%
		);
		color: $dark-color;
	}
}

.light-mode {
	background-color: $light-bg;
	color: $light-color;

	.header,
	.footer {
		background-color: lighten($light-bg, 10%);
		color: $light-color;
	}

	.sidebar {
		background-color: lighten($light-bg, 20%);
		color: $light-color;
	}

	.content {
		background-color: $light-bg;
		color: $light-color;
	}
}

.rfc-dark-mode {
	img {
		height: 25px;
	}
	button {
		background-color: transparent;
		border: none;
	}
}

.rfc-home-Layout {
	background: rgb(2, 0, 36);
	background: radial-gradient(
		circle,
		rgba(2, 0, 36, 1) 0%,
		rgba(9, 9, 121, 1) 35%,
		rgba(0, 212, 255, 1) 100%
	);
	height: 100vh;
}

/* *************************************************
? ***************STILE DELLA PAGINA HOME***************
todo:  Home.jsx
************************************************* */

.rfc-Home {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	height: 100vh;
	color: whitesmoke;
	background-color: red;
	font-size: 2rem;
}

/* Stili generali del layout */
.layout {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.titolo {
	font-size: 3rem;
	color: whitesmoke;
	display: flex;
	justify-content: center;
	img {
		width: 50%;
		max-width: 200px;
		height: auto;
		margin: 0 1rem;
	}
	h1 {
		font-size: 2.5rem;
		margin: 1rem 0;
	}
}

.holy {
	display: flex;
	justify-content: center;
}

.madonna {
	height: 70vh;
}

.action {
	display: flex;
	justify-content: center;
	gap: 1rem;
	.btn {
		width: 300px;
		min-width: 150px;
	}
}

@media (max-width: 768px) {
	.titolo {
		font-size: 2rem;
	}
	.titolo img {
		width: 70%;
		max-width: 150px;
	}
	.titolo h1 {
		font-size: 2rem;
	}
	.action .btn {
		width: 200px;
	}
}

@media (max-width: 480px) {
	.titolo {
		font-size: 1.5rem;
	}
	.titolo img {
		width: 80%;
		max-width: 100px;
	}
	.titolo h1 {
		font-size: 1.5rem;
	}
	.action .btn {
		width: 150px;
	}
}

/* *************************************************
? ***************STILE DELLA PAGINA MainLayout***************
todo:  MainLayout.jsx
************************************************* */
.main-layout {
}
.header,
.footer {
	padding: 1rem;
	text-align: center;
}

.main {
	display: flex;
	flex: 1;
	overflow: hidden;
}

.sidebar {
	padding: 1rem;
	width: 250px;
	overflow-y: auto;
}

.content {
	flex: 1;
	padding: 1rem;
	overflow-y: auto;
}

@media (max-width: 768px) {
	.layout {
		overflow-y: auto;
		height: auto;
	}

	.main {
		flex-direction: column;
		overflow: visible;
	}

	.sidebar {
		width: 100%;
		height: auto;
		order: 2;
	}

	.content {
		order: 1;
		overflow-y: visible;
		height: auto;
	}
}
/* *************************************************
? ***************STILE DELLA COMPONENTE Navbart***************
todo:  NavBar.jsx
************************************************* */

.logo {
	width: 50px;
}
.rfc-NavBar {
	.nav-button .nav-link {
		color: whitesmoke;
		font-weight: bolder;
	}
	.dropdown-menu {
		background-color: #20148b;
	}
	.dropdown-menu .dropdown-item {
		color: #57c7f5;
		&:hover {
			color: #20148b;
			font-weight: bolder;
			scale: 1.1;
		}
	}
}

@media (max-width: 992px) {
	.rfc-NavBar {
		.navbar-nav {
			display: flex;
			justify-content: center;
			width: 100%;
		}
		.nav-item {
			display: flex;
			justify-content: center;
			width: 300px;
			text-align: center;
			margin-bottom: 10px;
		}
		.nav-button {
			width: 100%;
			transform: translateX(100%);
		}
		.nav-link {
			display: block;
		}
	}
}
@media (max-width: 800px) {
	.rfc-NavBar {
		.nav-button {
			transform: translateX(50%);
		}
	}
}
@media (max-width: 500px) {
	.rfc-NavBar {
		.nav-button {
			transform: translateX(25%);
		}
	}
}

/* *************************************************
? ***************STILE DELLA PAGINA MainLayout***************
todo:  Sidebar.jsx
************************************************* */
.rfc-Sidebar {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding: 1rem;
	.btn {
		width: 100%;
	}
}

.rfc-Sidebar > div {
	display: flex;
	flex-direction: column;
	width: 220px;
}

.btn {
	width: 100%;
	margin-bottom: 10px;
}

@media (min-width: 768px) {
	.rfc-Sidebar > div {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}
	.btn {
		width: auto;
		margin: 5px;
	}
}

/* *************************************************
? ***************STILE DEL COMPONENTE FOOTER***************
todo:  Footer.jsx
************************************************* */
.rfc-Footer {
	font-size: 0.5rem;
	span {
		color: #20148b;
	}
}
/* *************************************************
? ***************STILE DELLA PAGINA Orari***************
todo:  Orari.jsx
************************************************* */
.orari-container {
	display: flex;
	justify-content: center;
	align-items: center;

	img.responsive {
		width: 100%;
		max-width: 100%;
		object-fit: contain;
		height: 74vh;
		cursor: pointer;
	}

	img.fullscreen {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		object-fit: contain;
		cursor: pointer;
		background-color: rgba(0, 0, 0, 0.9);
		z-index: 9999;
	}
}
