@import './reset&normalize.scss';
@import './variables.scss';

/* *************************************************
? ***************STILE DEL COMPONENTE***************
todo:  DARK MODE
************************************************* */
.dark-mode {
	background: rgb(2, 0, 36);
	background: radial-gradient(
		circle,
		rgba(2, 0, 36, 1) 0%,
		rgba(9, 9, 121, 1) 35%,
		rgba(0, 212, 255, 1) 100%
	);
	color: $dark-color;

	.header,
	.footer {
		background-color: linear-gradient(
			circle,
			rgba(2, 0, 36, 1) 0%,
			rgba(9, 9, 121, 1) 35%,
			rgba(0, 212, 255, 1) 100%
		);
		color: $dark-color;
	}

	.sidebar {
		background: rgb(26, 20, 139);
		background: linear-gradient(
			circle,
			rgba(2, 0, 36, 1) 0%,
			rgba(9, 9, 121, 1) 35%,
			rgba(0, 212, 255, 1) 100%
		);
		color: $dark-color;
	}

	.content {
		background: rgb(7, 2, 107);
		background: linear-gradient(
			circle,
			rgba(2, 0, 36, 1) 0%,
			rgba(9, 9, 121, 1) 35%,
			rgba(0, 212, 255, 1) 100%
		);
		color: $dark-color;
	}
}

.light-mode {
	background-color: $light-bg;
	color: $light-color;

	.header,
	.footer {
		background-color: lighten($light-bg, 10%);
		color: $light-color;
	}

	.sidebar {
		background-color: lighten($light-bg, 20%);
		color: $light-color;
	}

	.content {
		background-color: $light-bg;
		color: $light-color;
	}
}

.rfc-dark-mode {
	img {
		height: 25px;
	}
	button {
		background-color: transparent;
		border: none;
	}
}

.rfc-home-Layout {
	background: rgb(2, 0, 36);
	background: radial-gradient(
		circle,
		rgba(2, 0, 36, 1) 0%,
		rgba(9, 9, 121, 1) 35%,
		rgba(0, 212, 255, 1) 100%
	);
	height: 100vh;
}

/* *************************************************
? ***************STILE DELLA PAGINA HOME***************
todo:  Home.jsx
************************************************* */
/* Container principale */
/* Container principale */
/* Container principale */
.rfc-Home {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	height: 100vh;
	color: whitesmoke;
	background-color: red;
	font-size: 2rem;
}

/* Stili generali del layout */
.layout {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.titolo {
	font-size: 3rem;
	color: whitesmoke;
	display: flex;
	justify-content: center;
	img {
		width: 50%;
		max-width: 200px; /* Massima larghezza dell'immagine */
		height: auto;
		margin: 0 1rem;
	}
	h1 {
		font-size: 2.5rem; /* Font size per schermi desktop */
		margin: 1rem 0;
	}
}

.holy {
	display: flex;
	justify-content: center;
}

.madonna {
	height: 70vh;
}

.action {
	display: flex;
	justify-content: center;
	gap: 1rem; /* Spaziatura tra i bottoni */
	.btn {
		width: 300px; /* Larghezza fissa per desktop */
		min-width: 150px; /* Larghezza minima per assicurare leggibilità */
	}
}

/* Media query per schermi più piccoli */
@media (max-width: 768px) {
	.titolo {
		font-size: 2rem; /* Riduce la dimensione del font sui dispositivi più piccoli */
	}
	.titolo img {
		width: 70%; /* Adatta la dimensione dell'immagine su schermi più piccoli */
		max-width: 150px; /* Nuova larghezza massima per schermi più piccoli */
	}
	.titolo h1 {
		font-size: 2rem; /* Riduce ulteriormente la dimensione del font dell'h1 */
	}
	.action .btn {
		width: 200px; /* Larghezza fissa ridotta per dispositivi più piccoli */
	}
}

/* Media query per schermi molto piccoli */
@media (max-width: 480px) {
	.titolo {
		font-size: 1.5rem; /* Riduci ulteriormente la dimensione del font */
	}
	.titolo img {
		width: 80%; /* Adatta ancora di più la dimensione dell'immagine */
		max-width: 100px; /* Nuova larghezza massima per schermi molto piccoli */
	}
	.titolo h1 {
		font-size: 1.5rem; /* Dimensione del font per schermi molto piccoli */
	}
	.action .btn {
		width: 150px; /* Larghezza fissa ridotta per schermi molto piccoli */
	}
}

/* *************************************************
? ***************STILE DELLA PAGINA MainLayout***************
todo:  MainLayout.jsx
************************************************* */
.main-layout {
}
.header,
.footer {
	padding: 1rem;
	text-align: center;
}

.main {
	display: flex;
	flex: 1;
	overflow: hidden;
}

.sidebar {
	padding: 1rem;
	width: 250px; /* Fixed width for the sidebar */
	overflow-y: auto;
}

.content {
	flex: 1;
	padding: 1rem;
	overflow-y: auto;
}

/* Responsive Styles */
@media (max-width: 768px) {
	.layout {
		overflow-y: auto; /* Permetti lo scroll dell'intera pagina */
		height: auto; /* Altezza automatica per adattarsi al contenuto */
	}

	.main {
		flex-direction: column;
		overflow: visible; /* Permetti l'overflow visibile */
	}

	.sidebar {
		width: 100%;
		height: auto;
		order: 2; /* Sidebar sotto il contenuto in schermi piccoli */
	}

	.content {
		order: 1; /* Contenuto sopra la sidebar in schermi piccoli */
		overflow-y: visible; /* Rimuovi lo scroll dal contenuto */
		height: auto; /* Altezza automatica per adattarsi al contenuto */
	}
}

.logo {
	width: 50px;
}

/* *************** Styles for buttons in mobile version *************** */
@media (max-width: 768px) {
	.rfc-NavBar {
		ul.navbar-nav {
			justify-content: center;
			width: 100%;
		}
		li.nav-item {
			width: 300px; /* Width for each nav item */
			text-align: center;
			margin-bottom: 10px;
		}
		.nav-button {
			width: 100%;
		}
		.nav-link {
			display: block;
		}
	}
}
/* *************************************************
? ***************STILE DELLA PAGINA MainLayout***************
todo:  Sidebar.jsx
************************************************* */
.rfc-Sidebar {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding: 1rem;
	.btn {
		width: 100%;
	}
}

.rfc-Sidebar > div {
	display: flex;
	flex-direction: column;
	width: 220px; /* To make buttons occupy full width on smaller screens */
}

.btn {
	width: 100%;
	margin-bottom: 10px;
}

@media (min-width: 768px) {
	.rfc-Sidebar > div {
		flex-direction: row;
		flex-wrap: wrap; /* Allows buttons to wrap on smaller screens */
		justify-content: center;
	}
	.btn {
		width: auto; /* Buttons will now auto-size based on content */
		margin: 5px; /* Adds horizontal and vertical spacing */
	}
}
