/* *************************************************
? ************ VARIABILI COLORE PERSONALIZZATE*************
todo:  nomeVariabile: valore;
************************************************* */
$dark-bg: radial-gradient(
	circle,
	rgba(2, 0, 36, 1) 0%,
	rgba(9, 9, 121, 1) 35%,
	rgba(0, 212, 255, 1) 100%
);
$dark-color: #f5f5f5;
$light-bg: #f5f5f5;
$light-color: #202020;
