/* *************************************************
? ************ VARIABILI PERSONALIZZATE*************
todo:  nomeVariabile: valore;
************************************************* */
$dark-bg: rgb(42, 42, 185);
$light-bg: #f5f5f5;
$dark-color: #f5f5f5;
$light-color: #202020;
