@import './variables.scss';
// RESET RULES
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;

}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

body{
  background-color: $bg-dark;
  color: $text-dark;
}
// COMPONENTE FILM CARD
.scb-film-card{
  .card{
    .card-header{
      background-color: $card-header-dark;
    }
    color: $text-dark;
    background-color: $card-body-dark;
  }
}